.container {
    width: 350px;
    height: 400px;
    border: 1px black solid;
    margin-top: 40px;
}
/* .to-to {
    display: flex;
} */
.to-do {
    position: relative;
    padding-right: 25px; 
}

.delete {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.to-do:hover .delete {
    opacity: 1;
}

